USE [master]
GO
/****** Object:  Database [AMMDotNetCore]    Script Date: 5/1/2024 2:09:18 PM ******/
CREATE DATABASE [AMMDotNetCore] ON  PRIMARY 
( NAME = N'AMMDotNetCore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MYSERVER\MSSQL\DATA\AMMDotNetCore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AMMDotNetCore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MYSERVER\MSSQL\DATA\AMMDotNetCore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AMMDotNetCore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AMMDotNetCore]
GO
/****** Object:  Table [dbo].[Tbl_Blog]    Script Date: 5/1/2024 2:09:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[BlogTitle] [varchar](50) NOT NULL,
	[BlogAuthor] [varchar](50) NOT NULL,
	[BlogContent] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tbl_Blog] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
